<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈 화면</title>
</head>
<body>
<h2>로그인 모듈</h2>
<table>
    <td><button onclick="location.href='/login/loginForm'">로그인</button></td>
    <td><button onclick="location.href='/createAccount/createAccount'">계정 생성</button></td>
    <td><button onclick="location.href='/memberList/memberList'">유저목록</button></td>
    <td><button onclick="location.href='/searchAccount/searchID'">아이디 찾기</button><td>
    <td><button onclick="location.href='/searchAccount/searchPW'">비밀번호 찾기</button></td>
</table>
</body>
</html>